@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;900&display=swap");

* {
    font-family: "Nunito", sans-serif;
}

.animate-loader {
    animation: loading 10s ease forwards;
    transform-origin: left;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.animate-entry {
    animation: entry 10s ease forwards;
}

@keyframes entry {
    0% {
        transform: translateY(-100%);
    }

    5% {
        transform: translateY(0);
    }

    95% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 12px; 
    }

    #default img {
        width: 60%; 
    }

    #default .prose {
        padding: 2rem; 
    }

    #default .text-lg {
        font-size: 14px; 
    }
}
